[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shot-scraper = "*"
black = "*"
pillow = "*"
asyncio-pool = "*"
openai = "*"
python-doctr = {extras = ["torch"], version = "*"}
markdown = "*"

[dev-packages]

[requires]
python_version = "3.10"
